.comment-username {
    font-style: normal;
    font-weight: bold;
    color: #7F5539;
    margin-left:1rem;
}

.comment-text {
    margin-left: 2rem;
}

.comment-container {
    margin-left:2rem;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
}

.comment-image-div {
    grid-column:1;
}

.comment-location-div {
    grid-column: 2;
}

.comment-info-div {
    grid-column: 3;
}

.user-info {
    font-style: normal;
    font-weight: bold;
    color: #7F5539;
}
