.comment-username {
    font-style: normal;
    font-weight: bold;
    color: #7F5539;
    margin-left:1rem;
    margin-bottom: 1.5rem;
}

.comment-container {
    margin-left:2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.comment-image {
    width: 15rem;
    height: 12.5rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.comment-info-div {
    margin-left: 3rem;
}

.user-info {
    font-style: normal;
    font-weight: bold;
    color: #7F5539;
}
