

.login-headline{
    text-align: center;
    margin-bottom: 25%;
    font-family: "Josefin Sans", sans-serif;
}

.form-floating{
    margin-bottom: 20%;
}

.login-window {
    margin-top: 10vh;
    height: fit-content;
    width: fit-content;
    justify-content: center;
    box-sizing: border-box;
    outline-style: solid;
    padding: 5%;
    border-radius: 5%;
    
    
}

.login-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-container{
    text-align: center;
    margin-bottom: 10%;
    color: aliceblue;
}
#btn{
    color: white;
    background-color: #b08968;
    
}
#btn:hover{
    background-image: linear-gradient(rgb(0 0 0/20%) 0 0);
    
}

#link{
    color: blue;
    text-decoration: underline;
    
}


