@media only screen and (max-width: 1024px) {
    .myad-card-container {
        width: 30rem;
    }
}

@media only screen and (min-width: 1025px) {
    .myad-card-container {
        width:50rem;
    }
}

.myads-container {
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header-container {
    width: 50rem;
    display: flex;
    justify-content: baseline;
}

.myads-header {
    margin-top: 20px;
    margin-bottom: 15px;
    font-weight: normal;
}

#add-button {
    background-color: #b08968;
    color: white;
    height: 3rem;
    margin: 5px;
    border-radius: 10px;
    transition: opacity 0.2s;
}

#add-button:hover {
    opacity: 0.8;
}

.loading {
    font-family: Arial, Helvetica, sans-serif;
}
