.myad-card-container {
    border: solid black 1px;
    border-radius: 25px;
    padding: 15px;
    width: 50rem;
    height: 12.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.myad-img {
    overflow: hidden;
    height: 10rem;
    width: 10rem;
    border-radius: 10px;
}

.myad-img img {
    position: relative;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.myad-info {
    margin-left: 10px;
    margin-right: 10px;
    width: 60%;
    height: 100%;
}

.myad-info h1 {
    font-size: 2.25rem;
}

.myad-info p {
    margin: 0px;
    margin-top: 10px;
}

.text_style {
    font-style: normal;
    font-weight: bold;
    color: #7F5539;
}

.myad-commands {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.myad-commands button {
    border: none;
    margin: 10px;
    background-color: #b08968 ;
    border-radius: 10px;
    width: 3rem;
    height: 3rem;
    transition: opacity 0.2s;
    color:white;
}

.myad-commands button:hover {
    opacity: 0.8;
}