.navbar-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #b08968;
    padding: 25px;
    margin: 0px;
    min-height: 10vh;
    z-index: 10;
    position: relative;
    box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.34);
    padding: 15px;
    min-width: 100vw;
}

.logo-img {
    position: absolute;
    top: 12.5px;
    left: 50px; 
    width: 3rem;
}

.navbar-inner-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.navbar-inner-container div {
    margin-left: 50px;
    margin-right: 50px;
    font-family: "Josefin Sans", sans-serif;
}

.element-container {
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
    color: black;
    transition: color 0.35s;
}

.element-container:hover {
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
    color: white;
    cursor: pointer;
}

.odjava-button{
    background: transparent;
    border: none;
}
.odjava-button:hover{
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
    color: white;
    cursor: pointer;
}
