@media only screen and (max-width: 1024px) {
    .element-container {
        display: none;
    }
    .odjava-button {
        display: none;
    }
}

@media only screen and (min-width: 1025px) {
    .navbar-menu-button {
        display : none;
    }
    .navbar-popup-menu {
        display : none;
    }
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b08968;
    padding: 25px;
    margin: 0px;
    min-height: 10vh;
    z-index: 10;
    position: relative;
    box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.34);
    padding: 15px;
    min-width: 100vw;
}

.navbar-popup-menu {
    display:flex;
    flex-direction:column;
    align-items:flex-end;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: ; 
    border-bottom: solid 1px;
}

.element-container-menu {
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
    color: black;
    margin: 0.5rem;
}

.element-container-menu:hover {
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
    cursor: pointer;
}

.odjava-button-menu {
    background: transparent;
    border: none;
}

.odjava-button-menu:hover {
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
    cursor: pointer;
}

.logo-img {
    margin-left: 2.25rem;
    position: relative; 
    width: 3rem;
}

.navbar-inner-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.navbar-inner-container div {
    margin-left: 50px;
    margin-right: 50px;
    font-family: "Josefin Sans", sans-serif;
}

.element-container {
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
    color: black;
    transition: color 0.35s;
}

.element-container:hover {
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
    color: white;
    cursor: pointer;
}

.odjava-button{
    background: transparent;
    border: none;
}
.odjava-button:hover{
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
    color: white;
    cursor: pointer;
}

.navbar-menu-button {
    border: none;
    font-size: 2rem;
    background-color: transparent;
    width: 3rem;
    height: 3rem;
}
