.comment-user {
    font-weight: bolder;
    color: #7F5539;
    margin-left:1rem;
    margin-bottom:1rem;
}

.newcomment-container {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
    margin-left: 2rem;
}

#comment-text {
    grid-column: 1 / span 2;
    margin: 0px;
    margin-right: 2em;
}

.comment-location {
    grid-column: 3;
}

#comment-location-city {
    margin: 0px;
}

#floatingTextarea2 {
    min-height: 200px
}

.img-container {
    position:relative;
}

.comment-image-upload {
    grid-column: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2rem;
}

.image-upload-button {
    width: 140px;
}

.new-comment-image {
    width: 8.3em;
    height: 8.3em;
    border-radius: 10px;
}

.comment-commands {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: 5;
    margin-left: 2em;
}

.comment-commands button {
    border: none;
    background-color: #b08968;
    border-radius: 10px;
    width: 3.5rem;
    height: 3.5rem;
    transition: opacity 0.2s;
    color: white;
}

#comment-cancel-button {
    margin-top: 20px;
}

.comment-commands button:hover {
    opacity: 0.8;
}

#trashcan {
    top: 45%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: white;
    opacity: 0;
}

#trashcan:hover {
    opacity: 1;
    cursor:pointer;
}
