

.registration-headline{
    text-align: center;
    
}

.registration-container{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
.registration-details{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 10%;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.registration-window{
    
    margin-top: 3vh;
    text-align: center;
    height: fit-content;
    width: fit-content;
    justify-content: center;
    box-sizing: border-box;
    margin-bottom: 2.2vh;
    padding: 3.5%;  
    
}
.form-divider{
   
    align-items: center;
    justify-content: center;
    text-align: center;
}

.registration-button-container{
    margin-bottom: 5%;
}
.vecregistriran{
    margin-bottom: 0;
}
label{
    margin-right: 3px;
}

#typeOfUser {
    padding: 5px;
    margin-left: 5px;
}
#registration-error{
    color: red;
    
}

@media (min-width:450px){
    .registration-window{
        outline: solid;
        border-radius: 5%;

    }

}



