.home-container {
    min-height: 90vh;
    margin: 0px;
    z-index: 2;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    background-color: white;
    min-width: 100vw;
    font-family: "Josefin Sans", sans-serif;
}

.left-categories {
    background-color: #ede0d4;
    min-height: 80vh;
    margin-left: 25px;
    margin-top: 15px;
    grid-column: 1;
    border-radius: 2px;
}

.categories-container {
    padding: 25px;
}

.ads-container {
    margin: 15px;
    grid-column: 2 / span 3;
    text-align: center;
}

.ads-container2 {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    padding: 0px;
}

.search-heading {
    font-size: 2rem;
    margin-left: 25px;
    margin-top: 15px;
}
