.form-floating {
    margin-top: 15px;
    margin-bottom: 15px;
}

.pet-species-container {
    font-size: 1.25rem;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

.pet-species {
    margin-left: 15px;
    border-radius: 5px;
    padding: 2.5px;
    background-color: white;
    color: black;
}

.date-time-input {
    font-size: 1.25rem;
    padding-left: 10px;
    padding-right: 10px;
}

.datetime-input {
    padding: 2.5px;
    border-radius: 5px;
}

.pet-color {
    margin-top: 15px;
    background-color: white;
    border-radius: 5px;
    padding: 7.5px;
}

.pet-color-header {
    margin-left: 10px;
    font-size: 1.25rem;
}

.form-check-input {
    margin-left: 5px;
}

.form-check-label {
    margin-left: 15px;
}

.btnFilter-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    padding-right: 15px;
}