@{
    ViewData["Title"] = "Home Page";
}
<div id="root"></div>
<script type="module" src=@Url.Content("~/js/ReactTest.jsx")></script>
<script type="module" src=@Url.Content("~/js/ReactTestMain.jsx")></script>